:root{
    --primary-color: rgb(37,37,37);
    --secondary-color: rgb(36,158,196);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    

}
/*start of header*/
header{
    padding: 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    position: -webkit-sticky;
    position: sticky;

}
header nav{
    margin: 7px 0;
}
header h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}
header a{
    color: var(--secondary-color);
    text-decoration: none;
    background-color: var(--primary-color);
    text-shadow:0 0 10px rgba(0, 0, 0, 1.5);
}



header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 25px;
    background-color: var(--primary-color);

}
header nav ul li a:hover{
    color: black;
    background-color: var(--secondary-color);
    border-radius: 15%;
}
/*moto section*/
.img{
    background-image:url("../Professional-Portfolio-/assets/img/blue.jpg");
    padding: 70px;
}
.moto h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: black;
    color:rgb(36, 158, 196);
    font-size: 35px;
    text-align: right;
    padding: 20px 30px 0px 30px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-shadow: 0 0 10px rgba(212, 207, 207, 0.5);
}

/*about section*/
.about{
 
    background-color:var(--primary-color);
    padding: 20px 30px;
    color: rgb(36, 158, 196);
    font-size: 25px;
    line-height: 1.7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: rgb(36, 158, 196) solid 3px;
    border-radius: 15px;
    margin: 10px;
    margin: 5%;
    
}
.about h2{
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 20px 20px;
    text-decoration: underline solid var(--secondary-color) 5px
    ;
    background-color:var(--primary-color);
    text-shadow: 0 0 10px  rgba(0, 0, 0, 1.5);
}
.about p{
    margin: 3.5%;
    text-align: right;
    width: 35%;
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
    


}
.about img{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    border-radius: 15px;
    border:var(--secondary-color) solid 3px;

}
/*work section*/
.work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 20px 30px 50px 30px;
    border-radius: 15px;
    border: var(--secondary-color) solid 3px;
    margin: 5%;
    

}
.work h2{
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 20px 20px 40px 20px;
    text-decoration: underline 5px ;
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}
.run-buddy,.future-1,.future-2{
    border: 3px solid var(--secondary-color);
    padding: 10px 10px 10px 10px;
    opacity: 85%;
    border-radius: 15px;
   
}
.run-buddy:hover,.future-1:hover,.future-2:hover{
    opacity: 100%;
}

/*contact section*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 00px 30px 30px 30px;
    font-weight: bold;
    color: var(--secondary-color);
    background-color: black;
    text-shadow: 0 0 10px rgba(212, 207, 207, 0.5);
}
.contact h2{
    margin: 0 auto;
    font-size: 35px;
    font-weight: bold;
    padding: 10px 20px;
   text-decoration: underline 5px;
   
   

}
.contact div ul  {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    padding: 30px 30px;
}
.contact  div ul li {
    padding: 10px 65px;
    font-weight: lighter;
    font-size: 25px;    
    
}
.contact div ul li a{
    color:var(--secondary-color);
    text-decoration: none;

   
 /*start of footer*/
}
footer{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    ;
}
footer h2{
    background-color:var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}
/*media quieries*/
@media screen and (max-width:768px){
     
       .about p{width : 100%;
        text-align: center;
       }
    
}
@media screen and (max-width:575px){
 header{
     padding: 0%;

 }
 .work{
     background-color: black;
     border: black;
 }
 .work h2 {
     background-color: black;
 }

 
}
    

    
